@page
@model WebApplicationTest.Pages.AddNewStudentModel
@{
}


@{
    ViewData["Title"] = "Add New Student Here! ";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>