<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationTest.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    
                    <div class="navbar-nav">

                        <div class="shape path home-butto-2dabe2dd0d32">
                            <svg width="163.2" xmlns="http://www.w3.org/2000/svg" height="50.588" id="screenshot-9d09e8cb-18da-801f-8005-2dabe2dd0d32" viewBox="3774.4 199.012 163.2 50.588" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                                <g id="shape-9d09e8cb-18da-801f-8005-2dabe2dd0d32">
                                    <defs>
                                        <filter id="filter-render-248" x="-0.005000000000001137" y="-0.016881998277347366" width="1.01" height="1.0337639965546943" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                                            <feGaussianBlur stdDeviation="0.4" result="filter_9d09e8cb-18da-801f-8005-2dacd6feef3b"></feGaussianBlur>
                                        </filter>
                                        <filter id="filter-blur-render-248" x="-0.005000000000001137" y="-0.016881998277347366" width="1.01" height="1.0337639965546943" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                                            <feGaussianBlur stdDeviation="0.4" result="filter_9d09e8cb-18da-801f-8005-2dacd6feef3b"></feGaussianBlur>
                                        </filter>
                                        <linearGradient id="fill-color-gradient-render-248-0" x1="0.10721239939274482" y1="0.16829983682001898" x2="0.9151748725537289" y2="0.9808328079435727" gradientTransform="">
                                            <stop offset="0" stop-color="#031884" stop-opacity="1"></stop>
                                            <stop offset="1" stop-color="#2240d5" stop-opacity="0"></stop>
                                        </linearGradient>
                                        <pattern patternUnits="userSpaceOnUse" x="3776" y="200.61224489795921" width="160" height="47.387755102040785" patternTransform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" id="fill-0-render-248">
                                            <g>
                                                <rect width="160" height="47.387755102040785" style="fill:url(#fill-color-gradient-render-248-0)"></rect>
                                            </g>
                                        </pattern>
                                    </defs>
                                    <g class="fills" id="fills-9d09e8cb-18da-801f-8005-2dabe2dd0d32">
                                        <path d="M3776.000,224.306C3776.000,211.229,3785.009,200.612,3796.105,200.612L3915.895,200.612C3926.991,200.612,3936.000,211.229,3936.000,224.306L3936.000,224.306C3936.000,237.383,3926.991,248.000,3915.895,248.000L3796.105,248.000C3785.009,248.000,3776.000,237.383,3776.000,224.306ZL3776.000,224.306ZM3858.932,223.319" filter="url(#filter-render-248)" fill="url(#fill-0-render-248)"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>

                        <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                        <a class="nav-link" asp-area="" asp-page="/StudentInfo"> StudentInfo </a>
                        <a class="nav-link" asp-area="" asp-page="/AddNewStudent">Add New Student </a>
                        <a class="nav-link" asp-area="" asp-page="/AddNewCourse">Add New Course </a>

                    </div>

                </div>
            </div>
        </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplicationTest - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>