


/* Header Gradients and Adjustments */
.customHeader {
    background: linear-gradient(to bottom, #ffffff, #4c7fe5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    letter-spacing: 4.2px !important;
    font-weight: 800 !important;
}

.form-container {
/* This block aligns the items to center */
    display: block;
    width: 60%;
    margin: 0 auto;

/* Text Controlling   */
    letter-spacing: 3px;
    text-align:center;

/* Adjustments */
    height: 100vh;
    background: linear-gradient(160deg, #031884, transparent); /* Gradient from a dark blue to transparent */
    padding: 70px; /* Padding around the form */
    border-radius: 50px; /* Optional: rounded corners */
    /*width: 400px;*/ /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */

}

/* Custome aligns for first id input */
.custom-input {
    display: block;
    margin: 0 auto;
    width: 50% !important; /* 50 percent by 60 percent that assigned to this parent container */
}

.form-label {
    color: white; /* Change label color to white */
    margin: 10px;
    text-align:center;
}

.col{
    margin:5px;
}

/*form {
    display: flex;
    justify-content: center;*/ /* Center the form horizontally */
    /*align-items: center;*/ /* Center the form vertically */
/*}*/

button {
    cursor: pointer !important;
    transition: all 0.3s ease !important;

}

.btn:hover {
    box-shadow: 0px 0px 16px 0px #6c85fb !important;
}

.btn-gradient {
    background-image: linear-gradient(to right, #6c85fb, #0624d5 ) !important;
}

